.board {
    border: solid aliceblue 1px;
}

.board-cell-game-over {
    opacity: 0.8;
    background-color: blanchedalmond;
}

.board-row {
}

.board-cell {
    font-size: xx-large;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
    border: solid gainsboro 1px;
}

.winner-cell{
    background-color: aquamarine;
}